name: Gradle Build

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'
      - name: Make gradle executable
        run: chmod -x ./gradlew
      - name: Build Sponge with Gradle
        run: ./gradlew build
      - uses: actions/upload-artifact@v2
        with:
          name: "Jar"
          path: "build"
